body{
  background-color: #f5fffa;
}

.header_wrapper{
  background-image: url(./headerimg2.jpg);
  background-position: center;
  color:black;
  font-family: 'Amatic SC',cursive;
  text-align:center;
  padding-bottom:150px;
}
.header_wrapper h1{
  display:inline-block;
  font-size:80px;
  padding-top:120px;
  color:#fffffc;
}
.menu_wrapper{
  height:50px;
}
.menu h4{
  float:right;
  display: inline-block;
  margin-right:40px;
  font-size:23px;
  line-height:1px;
  color:#808080
}

.menu a{
  text-decoration: none;
  float:right;
  display: inline-block;
  margin-right:40px;
  font-size:27px;
  line-height:40px;
  color:#808080;
  opacity: 0.6;
}
.menu a:hover{
  text-decoration: underline;
  opacity:0.9;
}





.top_wrapper{
  height:1000px;
  padding:50px 20px;

}

.frame{
  text-align: center;
  margin:60px 0 0 200px;
}
